.rightContent {
  background-color: #f3f7f9;
  flex-grow: 1;
  padding: 1rem;
}

.dashHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.dashHeader p:first-child {
  color: var(--1-d-2337, #1d2337);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.dashHeader p:nth-child(2) {
  color: var(--1-d-2337, #1d2337);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  opacity: 0.7;
}
.updateContainer{
  display: flex;
  justify-content: flex-end;
  
}
.updateContainer div{
  display: flex;
  border-radius: 8px;
background: rgba(0, 166, 215, 0.10);
padding: 8px 16px;
margin-bottom: 0.5rem;
}
.updateContainer div img, .updateContainer div p:first-child  {
  margin-right: 0.5rem;
}
.updateContainer div p {
  margin-right: 0.5rem;
  color: #1D2337;
text-align: right;
font-size: 14px;
font-weight: 400;

}
.dashBody {
  display: grid;
  grid-template-columns: 74% 25%;
  grid-column-gap: 10px;
}

.chargingTrends p {
  color: var(--typo-1, #1d2337);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 768px) {
  .dashBody {
    grid-template-columns: 100%; /* Use a single column for small screens */
  }
}