.header {
  background: #fff;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
  display: flex;
  padding: 16px 24px;
  justify-content: space-between;
  align-items: center;
}
.header div{
  display: flex;
  align-items: center;
}
.header div button{
  margin-right: 10px;
}
.header p{
  color: var(--2-a-317-d, #2A317D);
  font-size: 24px;
  font-weight: 617;
  font-family: PP Agrandir Variable;

}
 @media (min-width: 1200px) {
  .header div button {
    display: none;/* Use a single column for small screens */
  }
}